<div id="links" class="paletteLink">
  <div class="border_color">
    <div class="border_edge">
      <div class="icons">
        <h1>Links</h1>
        	<ul>
            <li><%= image_tag("linkIcon.png",{class:"linkcon"}) %><%= link_to 'hData root.xml', hdata_root_url(:xml) %></li>
        </ul>
      </div>
    </div>
  </div>
</div>