<div id="links" class="paletteLink">
  <div class="border_color">
    <div class="border_edge">
      <div class="icons">
        <h1>Links</h1>
        	<ul>
            <li><%= image_tag("linkIcon.png",{class:"linkcon"}) %><%= link_to 'Query List', queries_path %></li>
            <li><%= image_tag("linkIcon.png",{class:"linkcon"}) %><%= link_to "Add HQMF Query", new_query_path %></li>
        </ul>
      </div>
    </div>
  </div>
</div>