<h1>hQuery Gateway</h1>
<h2>Queries</h2>
<table>
  <tr>
    <td>Date</td>
    <td>Status</td>
    <td>Link</td>
  </tr>
<% @queries.each do |query| -%>
  <tr>
    <td><%= query.updated_at %></td>
    <td><%= query.status %></td>
    <td><%= link_to query_url(query), query_url(query) %></td>
  </tr>
<% end -%>
</table>